@model AutoTavex.Models.Car


@{
    ViewBag.Title = "Details";
}

<h2>@Model.Manufacturer @Model.Series</h2>
<br />

@{
    var imagePath = "\\Content\\Images\\no-image.png";
    if (Model.Image != null)
    {
        imagePath = Url.Content(Model.Image);
    }
}

<img class="imageDetails1" src="@imagePath" />

<ul class="textDetails">
    @{
        @* Creem un singur string pt proprietatile motorului  *@
        var engine = Model.HasThermalEngine ? "Thermal" : "Electic";
        if (engine == "Thermal")
        {
            if (Model.IsHybrid)
            {
                engine += " Hybrid";
            }
            engine += (" " + Model.CylindricalCapacity + "cmc");
        }
    }
    <li>Engine: @engine</li>
    <li>@Model.HorsePower horsepower</li>
    <li>Year Manufactured: @Model.YearManufactured</li>
    @{
        var gearbox = "Automatic";
        if (Model.IsManual)
        {
            gearbox = "Manual";
        }
    }

    <li>@gearbox</li>
    <li>@Model.Transmission</li>
    <li>@Model.TachometerValue km</li>
    <li>@Model.Vin</li>
    @{
        var detailsText = "No extra details";
        if (Model.ExtraDetails != "")
        {
            detailsText = Model.ExtraDetails;
        }
    }
    <li>@detailsText</li>
</ul>

<h3>$@Model.Price</h3>

<br />
<br />
<p>User name is: </p>
<p>Message user</p>