@model AutoTavex.ViewModels.CarFormViewmodel

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = @Model.Title;
}

<h2>@Model.Title Car</h2>

@using (Html.BeginForm("Save", "Car", FormMethod.Post)) // ActionName, ControllerName
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    @Html.HiddenFor(c => c.Car.Id)
    <div class="form-group">
        @Html.LabelFor(c => c.Car.Manufacturer)
        @Html.TextBoxFor(c => c.Car.Manufacturer, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.Manufacturer)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.Series)
        @Html.TextBoxFor(c => c.Car.Series, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.Series)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.TachometerValue)
        @Html.TextBoxFor(c => c.Car.TachometerValue, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.TachometerValue)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.Vin)
        @Html.TextBoxFor(c => c.Car.Vin, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.Vin)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.CylindricalCapacity)
        @Html.TextBoxFor(c => c.Car.CylindricalCapacity, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.HorsePower)
        @Html.TextBoxFor(c => c.Car.HorsePower, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.YearManufactured)
        @Html.TextBoxFor(c => c.Car.YearManufactured, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.YearManufactured)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.Transmission)
        @Html.TextBoxFor(c => c.Car.Transmission, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.Transmission)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.Car.HasThermalEngine) Has Thermal Engine
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Car.IsHybrid) Is Hybrid
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Car.IsManual) Is Manual
        </label>
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Car.Image)
        @Html.TextBoxFor(m => m.Car.Image, new { type = "file", multiple = "multiple", accept = "image/jpeg,  image/jpg" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Car.Price)
        @Html.TextBoxFor(c => c.Car.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.Car.Price)
    </div>

    <br />
    <br />

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}