@model AutoTavex.Models.Moto

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Manufacturer @Model.Series</h2>
<br />

@{
    var imagePath = "\\Content\\Images\\no-image.png";
    if (Model.Image != null)
    {
        imagePath = Url.Content(Model.Image);
    }
}

<img class="imageDetails1" src="@imagePath" />

<ul class="textDetails">
    <li>Engine: @Model.CylindricalCapacity</li>
    <li>@Model.HorsePower horsepower</li>
    <li>Year Manufactured: @Model.YearManufactured</li>
    <li>@Model.Caroserie</li>
    <li>@Model.TachometerValue km</li>
    <li>@Model.Vin</li>
    @{
        var detailsText = "No extra details";
        if (Model.ExtraDetails != "")
        {
            detailsText = Model.ExtraDetails;
        }
    }
    <li>@detailsText</li>
</ul>

<h3>$@Model.Price</h3>

<br />
<br />
<p>User name is: </p>
<p>Message user</p>