@model IEnumerable<AutoTavex.Models.Moto>

@{
    ViewBag.Title = "Motorcyles";
}

<h2>Motorcycles</h2>

@* Verific daca modelul este ok**@
@if (Model != null)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Motorcycle</th>
                <th>Engine</th>
                <th>Horsepower</th>
                <th>Manufactured</th>
                <th>Tachometer Value</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var moto in Model)
            {
                if (moto == null)
                {
                    continue;
                }
                <tr>
                    @{
                        var motoName = moto.Manufacturer + " " + moto.Series;
                    }
                    <td>@Html.ActionLink(motoName, "Details/" + moto.Id, "Moto")</td>
                    <td>@moto.CylindricalCapacity</td>
                    <td>@moto.HorsePower</td>
                    <td>@moto.YearManufactured</td>
                    <td>@moto.TachometerValue</td>
                </tr>
            }
        </tbody>
    </table>
}